html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #121212;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: cursive;
}

.nivoText {
  position: relative;
  font-size: 40px;
  height: 500px;
}

#nivoNatpis {
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-120%);
}

#info {
  position: absolute;
  right: 5px;
  width: 35px;
  height: 35px;
  transform: translateY(-150%);
  z-index: 1;
}

#info:hover {
  opacity: 0.7;
  cursor: pointer;
}

#overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  cursor: pointer;
}

#controls {
  font-size: 50px;
  padding-top: 100px;
}

.control {
  font-size: 30px;
  padding-top: 30px;
}

.mobile-buttons {
  display: none;
}

.row {
  display: flex;
}

.col {
  flex: 1;
}

.text-button {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  font-family: cursive;
}

@media only screen and (max-width: 768px) {
  .mobile-buttons {
    display: block;
    font-size: 50px;
    font-family: initial;
  }

  .mobile-buttons span {
    width: 15px;
  }

  #info {
    display: none;
  }
}
